*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.rowabout{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 10px 0;
}
.cabout{
    width: 70%;
    padding:100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    background-image: url("photo-1462688681110-15bc88b1497c.webp");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
    
}

.c1about{
    width: 25%; 
}
.imageabout{
    width: 100%;
}
@media only screen and (max-width:600px){
    *{
        box-sizing: border-box;
        margin: 0;
    }
    .rowabout{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
    }
    .cabout{
        width: 100%;
    }
    .c1about{
        width: 100%;
    }

}

